body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
}

.menu {
  border: 1px solid tomato;
  color: blue;
}

.text > span {
  text-decoration: line-through;
}

.link {
  text-decoration: none;
   text-transform: capitalize;
 }

.post {
    line-height: calc(2/1);
   }
.post-title {
  text-align: justify;
  font-weight: 900;
  font-style: inherit;
 
}

.align-right {
  text-align: left;
  line-height: 1.33;
 
}

p::first-letter {
  font-family: 'Tahoma', serif;
  font-size: 32px;
  color: #f44336; 
}
.post-text::selection {
  color: #f5f5ec;
  background-color: #f5f7fa;
}
.align-justify {
  white-space: pre-wrap;
  text-align: justify;
  text-indent: 50px;
  color: #ffffff;
  text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
  
}